@{
    ViewBag.Title = "Overzicht";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body> 

    <div>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Account", "Login", "Account")</li>
            <li>@Html.ActionLink("Artiesten", "Index", "Artist")</li>
            <li>@Html.ActionLink("Event", "Index", "Event")</li>
            <li>@Html.ActionLink("Menu", "Index", "Menu")</li>
            <li>@Html.ActionLink("Page", "Index", "Page")</li>
            <li>@Html.ActionLink("Performance", "Index", "Performance")</li>
            <li>@Html.ActionLink("Podia", "Index", "Podium")</li>
        </ul>
    </div>
</body>
</html>
